Retry request on badNonce error

As of [Section 6.5 of RFC 8555](https://tools.ietf.org/html/rfc8555#section-6.5) on receiving a "badNonce" error, a client SHOULD retry the request with a new nonce.

I think I could provide a PR for this in a few days ... 
